body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;   
  width: 100%;
  padding: 0 25px 0 30px;
  margin: auto;
}

.navbar_img {
  height: 19px;
  width: 61px; 
  margin-bottom: 5px;
}

.navbar_link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 320px;
}

.navbar_link_text {
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  font-weight: 500;
  width: 150px;
  right: 1%;
}

.navbar_link_text:hover {
  cursor: pointer;
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

/* main */

/* Title */
.main_text {
  margin: 50px 30px 0 30px; 
}

.main_text_title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0;
}

.main_text_subtitle {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

/*research*/

.main_research {
  display: flex;
  margin: 20px 0 0 30px;  
}

.main_research_icône {
  background-color: #F2F2F2;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 15px 16px 15px 16px;
  border-radius: 15px 0 0 15px;
}

.main_research_city {
  border: 1px solid #F2F2F2;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

::placeholder {
  color: black;
}

.loupe {
  visibility: hidden;
}

.main_research_button {
  background-color: #0065FC;
  width: 132px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  color: white;
  font-weight: 700;
  line-height: 21px;
}

.main_research_button:hover {
  cursor: pointer;
  color: #0065FC;
  background-color: #DEEBFF;
}

/* Filters */
.main_filters {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 50px;
  margin: 28px 30px 0 30px;
}

.main_filters_title{
  font-weight: 700;
  font-size: 18px;
  margin-right: 38px;
}

.main_filters_blocks {
  display: flex;
}

.main_filters_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #D9D9D9;
  border-radius: 30px;
  height: 45px;
  margin-right: 38px;
}

.filters_icon {
  color: #0065FC;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 18px;
  margin-right: 5px;
}

.filters_text {
  flex: auto;
  font-weight: 700;
  font-size: 17px;
  margin-right: 18px;
  justify-content: flex-start;
}

.main_filters_button:hover{
  background-color: #DEEBFF;
  cursor: pointer;
  box-shadow: 1px 1px 0.2em;
  transition: ease 0.6s;
}

/* Info */
.main_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 30px 30px; 
}

.main_info_icon {
  font-size: 12px;
  border-radius: 24px;
  border: 1px solid #D9D9D9;
  margin-right: 10px;
  color: #0065FC;
  width: 24px;
  height: 24px;
  padding: 5px 9px 17px 9px;
}

.main_info_text {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

/* Hébergement */
.main_article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 5px;
  margin: 0 30px 0 30px;
}

.main_hébergement {
  flex: 2;
  height: 626px;
  background-color: #F2F2F2;
  margin-right: 30px;
  border-radius: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

.hébergement_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin: 45px 0 25px 4.2%; 
}

.hébergement_block {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.hébergement_box {
  width: 28.5%;
  background-color: white;
  height: 199px;
  border-radius: 20px;
  margin-bottom: 28px;
}

.hébergement_box:hover {
  cursor: pointer;
  box-shadow: 1px 3px 8px 1px black;
}

.hébergement_box_img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: 5px solid white;
}

.hébergement_box_title {
  font-weight: 700;
  font-size: 14px;
  margin: 0 5% 0 15px;
  line-height: 19px;
}

.hébergement_box_tarif {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 5% 5px 15px;
}

.hébergement_box_note {
  font-size: 11px;
  margin: 0 0 0 15px;
  display: inline-flex;
  padding: 0;
}

.bleu {
  color: #0065FC;
}

.gris {
  color: #F2F2F2;
}

.hébergement_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-left: 4.2%;
}

/* Populaire */
.main_populaire {
  flex: 1;
  height: 626px;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.main_populaire_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 9% 25px 9%;
}

.populaire_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}

.populaire_icon {
  font-size: 20px;
  color: #0065FC;
}

.populaire_box {
  width: 80%;
  background-color: white;
  margin: auto;
  height: 144px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 30px;
}

.populaire_box:hover {
  cursor: pointer;
  box-shadow: 1px 3px 8px 1px black;
  transition: ease 0.3s;
}

.populaire_box_img {
  width: 40%;
  height: 144px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  border: 5px solid white;
}

.populaire_box_text {
  margin-top: 18px;
  width: 80%;
}

.taille_title {
  font-size: 14px;
}
.marge {
  margin-top: 60px;
}
.marge1 {
  margin-top: 40px;
}

.marge2 {
  margin-top: 60px;
}

/* Activity */
.main_activity {
  width: 100%;
  margin-top: 60px;
}

.activity_title {
  font-size: 22px;
  line-height: 26px;
  margin: 0 30px 22px 30px;
}

.activity_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 30px;            
}

.activity_box {
  height: 445px;
  width: 23%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 8px #e2e2e2;
}

.activity_box:hover {
  cursor: pointer;
  box-shadow: 1px 3px 8px 1px black;
  transition: ease 0.3s;
}

.activity_box_img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activity_box_text {
  font-size: 16px;
  font-weight: 700;
  margin-left: 7%;
  margin-right: 7%;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;
  background-color: #F2F2F2;
  margin: 60px 30px 0 30px;
}

.footer_block {
  width: 30%;
  height: 162px;
}

.footer_block_title{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.footer_block_link > a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer_block_link a:hover {
  color: #0065FC;
}

/* Media Queries POUR TABLETTE */
@media screen and (max-width: 1024px) {

  /* Hébergement */
  .main_article {
      display: block;
  }
  
  .main_hébergement {
      width: 100%;
  }
  
  .hébergement_title {
      margin-top: 0px;
      padding-top: 45px;
  }


  /* Populaire */
  .main_populaire {
      width: 100%;
      height: 278px;
      margin-top: 50px;
  }

  .populaire_block {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
  }
  
  .main_populaire_head {
      padding-top: 45px;
      width: 100%;
      margin: 0;
      margin-bottom: 25px;
  }
  
  .populaire_title {
      margin-left: 4%;
  }
  
  .populaire_icon {
      margin-right: 4%;
  }
  
  .populaire_box {
      width: 28.5%;
      margin: 0;
      width: 240px;
      height: 144px;
  }
  
  .populaire_box_img {
      width: 44%;
  }
  
  .taille_title, .taille_title2 {
      font-size: 14.5px;
      font-weight: 700;
      margin-left: 5%;
  }

  .taille_title, .taille_tarif {
      height: 38px;
  }

  .taille_tarif {
      font-size: 13px;
      font-weight: 400;
      margin-left: 5%;
  }

  .marge, .marge1, .marge2 {
      margin: 20px 0 0 5%;
  }

  /* Activity */
  .main_activity {
      width: 100%;
      margin-top: 60px;
  }

  .activity_title {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 22px;
  }

  .activity_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .activity_box {
      height: 267px;
      width: 22%;
  }

  .activity_box_img {
      height: 211px;
  }

  .activity_box_text {
      font-size: 16px;
      font-weight: 700;
      margin: 15px 7%;
  }

  .centrer1 {
      margin-top: 5px;
  }

  /* filters */

  .main_filters  {
    height: 75px;
    display: block;
  }

  .main_filters_blocks {
      flex-direction: row;
      flex-wrap: wrap;
  }


  .filters_text {
      font-size: 16px;
  }

  .main_filters_title {
      margin: 0;
  }

  .main_filters_button {
      margin-top: 10px;
      margin-right: 20px;
  }
}
 
       
/* Media Queries POUR SMARTPHONE */
@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar {
      display: block;
      padding: 0;
      padding-top: 20px;
      width: 100%;
  }

  .navbar_link {
      width: 100%;
      padding-top: 15px;
  }

  .navbar_image {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .navbar_link_text {
      width: 50%;
      align-items: center;
      border-bottom: solid 3px #F2F2F2;
  }

  .navbar_link_text:hover { 
      border: none;
      border-bottom: solid 3px #0065FC;
  }

  /* research */
  .main_research {
      margin-right: 30px;
  }

  .main_research_city {
      width: 100%;
      text-align: start;
      padding-left: 15px;
  }

  .loupe {
      visibility: visible;
      background-color: #0065FC;
      width: 50px;
      height: 50px;
      margin: 0;
      border-radius: 15px;
      color: white;
      font-weight: 700;
      text-align: center;
      padding: 15px 16px 15px 16px;
  }
  
  .main_research_button {
      display: none;
  }
  .main_filters  {
    height: 150px;
    width: 100%;
  }
  .main_filters_button {
    width: 170px;
  }

  /* Populaire */
  .main_text {
      margin-top: 30px;
  }

  .main_article {
      display: flex;
      flex-direction: column-reverse;
      margin: 0 ; 
  }

  .main_populaire {
      margin: auto;
      padding: 10px 0 20px 0;
      border-radius: 0;
  }

  .populaire_title { 
      margin-left: 30px;
  }

  .populaire_icon { 
      margin-right: 30px
  }

  .populaire_block {
      display: block;
      width: 100%; 
      height: 500px;
  }

  .populaire_box {
      width: auto; 
      margin: 0 30px 10px 30px;  
  }

  .taille_title, .taille_title2 {
      font-size: 12px;
      font-weight: 700;
      margin-left: 5%;
      height: auto;
  }

  .taille_tarif {
      font-size: 13px;
      font-weight: 400;
      margin-left: 5%;
      height: auto;
  }

  .marge, .marge1, .marge2 {
      margin-top: 65px;
  }

  /* Hébergement */
  .main_hébergement {
      background-color: white;
      margin: auto;
  }

  .hébergement_title, .hébergement_link {
      margin-left: 30px;
  }
  
  .hébergement_box {
      width: 100%;
      box-shadow: 1px 3px 8px #e2e2e2;
      margin-bottom: 15px;
      margin: 0 30px 15px 30px;   
  }

  /* Activity */
  .activity_block {
      width: auto;  
      flex-direction: row;
      flex-wrap: wrap;
  }

  .activity_box {
      width: 100%;
      height: 199px;   
      margin-bottom: 25px;
  }

  .activity_box_img { 
      height: 143px;
  }

   .centrer, .centrer1 {
      font-size: 16px;
      margin-top: 15px;
  }

  /* Footer */
  .footer {
      margin: 60px 0 0 0;
      width: 100%;
      height: 500px;
      display: block;
  }

  .footer_block {
      width: 100%;
      padding: 25px 0 0 30px;
      height: 167px;
  }

  .footer_marge {
      height: 135px;
  }
}
